/* BODY */

.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

/* HEADER */

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header img {
  width: 100%;
}

.header-link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

.header {
  text-align: center;
}

}

/* MAIN */

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

/* TITLE */

.title {
  display: block;
  margin: 0 0 20px;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  text-transform: uppercase;
}

/* TASK WRAPPER */

.task-wrapper {
  display: flex;
}

/* TASK INPUT */

.task-input {
  flex-grow: 1;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-input:focus {
  color: #333;
}

.add-item-input {
  width: 318px;
}

/* TODO GROUP */

.todo-group {
  margin: 0;
  padding: 0px;
}

/* TODO ITEM */

.todo-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item > * {
  vertical-align: middle;
}

.todo-item > .task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.todo-item > .task-input {
  width: 226px;
}

.todo-item .task-input {
  display: none;
}

/* BUTTON */

.btn-primary {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn-primary:hover {
  color: #3a3a3a;
}

.btn-primary.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn-primary.delete img:hover {
  transform: rotateZ(0);
}


/* LABEL */

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

/* INPUT */

.task-input,
.check-input,
.btn-primary {
  outline: none;
}

.check-input {
  margin: 0 10px;
}

.completed .todo-item > .task {
  text-decoration: line-through;
  color: #888;
}

.editMode > .task-input {
  display: inline-block;
  width: 224px;
}

.editMode > .task {
  display: none;
}
